
#wrapper {
	position: absolute;
	z-index:0;
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden; 
	background-color:grey;
	font-family:Sans-serif;
}

#main {
	position:absolute;
	z-index:1;
	background-color:#EEEEEE;
	overflow:hidden;
	width:100%;
	top:0px;
	bottom:0px;
}

#gameFrame{
	position: absolute;
	z-index:10;
	width:100%;  
	height:100%;  
	overflow:hidden; 
	background-color:black;
	display:none;
}

#closeGameFrame{
	position: absolute;
	z-index:11;
	top:20px;
	right:20px;
	width:32px;  
	height:32px;  
	overflow:hidden; 
	display:none;
}

#closeGameFrame img{
	width:100%;  
	height:100%;  
}
	
#bar1Wrap, #bar2Wrap {
	position: absolute;
	z-index:6;
	height: 20px;
	width: 340px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	overflow: hidden;
	border: 2px solid #313131;
	border-radius: 12px;
	background-color:#313131;
}

#bar1Wrap {
	top: 10px;
}
	
#bar2Wrap {
	top: 40px;
}

#bar1,#bar2 {
	position: absolute;
	left: 0px;
	height: 100%;
	right:100%;
	border-radius: 10px;
}

#bar1 {
	background-color:#8CFF47;
}

#bar2 {
	background-color:#4DA2DE;
}

#bar1text, #bar2text {
	position: absolute;
	height: 100%;
	width:100%;
	color:#ffffff;
	text-align:center;
}

#profileBox {
	position: absolute;
	z-index:7; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width:100%;
	height:100%;
	max-width:504px;
	max-height:768px;
	color:white; 
	background-color:#000000;
	font-size:20px;
	text-align:center;
	display:none;
}

#profileBox div{
	display:inline-block;
}


#buttonRow {
	position:absolute;
	z-index:2;
	color:white;
	border: 2px solid #313131;
	border-radius: 12px;
	background-color:#313131;
	display:block;

	bottom:10px;
	width:336px;
	height:46px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.button {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.button img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:70%;
}


#back {
	position:relative;
	height:100%;
	width:15%;
	float:left;
}

#back img {
	position: absolute;
	height:80%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	cursor: pointer; 
}


#map {
	width:100%;  
	height:100%;  
	z-index:1; 
	display:block; 
	position:absolute;
}
	
#message {
	width:300px; 
	z-index:8; 
	display:none; 
	background-color:#F6C760;
	color:#5C4B42; 
	padding:10px; 
	border:solid 8px;
	font-size:12px; 
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#message button{
	color:#F6C760;
	background-color:#5C4B42;
}

#closeMessageButton {
	position: absolute;
	top: 0px;
	right: 8px;
	font-size:20px; 
	cursor: pointer; 
}

#mapBox {
	position: absolute;
	z-index:5; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:white; 
	font-size:20px;
	text-align:center;
	display:none;
}

.mapButton{
	position:relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width:120px; 
	z-index:8; 
	font-size:16px;
	padding:10px; 
	border:ridge 2px;
	border-radius: 5px;
	cursor: pointer; 
}


#loginBox {
	position: absolute;
	z-index:6; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:white; 
	font-size:20px;
	text-align:center;
	display:block;
}

#loginLogo {
	width:120px;
}


.loginButton{
	position:relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width:120px; 
	z-index:8; 
	font-size:0px;
	padding:0px; 
	border:ridge 2px;
	border-radius: 5px;
	cursor: pointer; 
}

#message img {
	height:50px; 
}


#help {
	width:90%; 
	height:100%; 
	z-index:10; 
	display:none; 
	position: absolute;
	font-size:24px; 
	padding-left:5%; 
	padding-right:5%; 
	background-color:#FFFFFF; 
	overflow:scroll;
}

#dimmer {
	width:100%;  
	height:100%;  
	z-index:6; 
	display:block;  
	position:absolute; 
	background-color:#000000; 
	opacity:0.6;
}

#zoomControl {
	width:36px;  
	height:72px; 
	z-index:2; 
	display:block; 
	position:absolute; 
	float:right; 
	bottom:30px; 
	right:10px; 
	overflow:hidden; 
	background-color:#FFFFFF; 
	box-shadow: 0px 0px 5px #777777; 
	border-radius: 5px;
}


.zoomButton {
	width:36px;  
	height:36px;  
	position:relative; 
	float:left; 
	text-align:center;
}

.iconImage {
	position:absolute;
	width: 24px; 
	height: 24px;
	margin:0px;
}

.iconName {
	position:absolute;
	top:0px;
	left:26px;          
	font-size:12px;
	white-space: nowrap;
	color:black;
	background-color:#ffffff;
	border-radius: 3px;
	border:solid 1px;
	padding:0px 3px 0px 3px;
}


/*
@media (orientation: landscape) {
	#buttonRow {
		left:10px;
		width:46px;
		height:336px;
		top: 50%;
		transform: translate(0%, -50%);
		}
	#main {
		height:100%;
		left:0px;
		right:0px;
		}
	.button {
		width:100%;
		height:20%;
		}
	.button img {
		width:70%;
		}
}

@media (orientation: portrait) {
	#buttonRow {
		bottom:10px;
		width:336px;
		height:46px;
		left: 50%;
		transform: translate(-50%, 0%);
		}
	#main {
		width:100%;
		top:0px;
		bottom:0px;
		}
	.button {
		width:20%;
		height:100%;
		}
	.button img {
		height:70%;
		}
}
*/


a:link    {color:#ffffff;text-decoration:none;}  /* unvisited link */
a:visited {color:#ffffff;text-decoration:none;}  /* visited link */
a:hover   {color:#FF0000;text-decoration:none;}  /* mouse over link */
a:active  {color:#FF0000;text-decoration:none;}  /* selected link */ 



