
#wrapper {
	position: absolute;
	z-index:0;
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden; 
	background-color:grey;
	font-family:Sans-serif;
}

#main {
	position:absolute;
	z-index:1;
	background-color:#EEEEEE;
	overflow:hidden;
	width:100%;
	top:0px;
	bottom:0px;
}

#gameFrame{
	position: absolute;
	z-index:10;
	width:100%;  
	height:100%;  
	overflow:hidden; 
	background-color:black;
	display:none;
}

#closeGameFrame{
	position: absolute;
	z-index:11;
	top:20px;
	right:20px;
	width:32px;  
	height:32px;  
	overflow:hidden; 
	display:none;
}

#closeGameFrame img{
	width:100%;  
	height:100%;  
}
	
#bar1Wrap, #bar2Wrap {
	position: absolute;
	z-index:6;
	height: 20px;
	width: 340px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);
	overflow: hidden;
	border: 2px solid #313131;
	border-radius: 12px;
	background-color:#313131;
}

#bar1Wrap {
	top: 10px;
}
	
#bar2Wrap {
	top: 40px;
}

#bar1,#bar2 {
	position: absolute;
	left: 0px;
	height: 100%;
	right:100%;
	border-radius: 10px;
}

#bar1 {
	background-color:#8CFF47;
}

#bar2 {
	background-color:#4DA2DE;
}

#bar1text, #bar2text {
	position: absolute;
	height: 100%;
	width:100%;
	color:#ffffff;
	text-align:center;
}

#profileBox {
	position: absolute;
	z-index:7; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width:100%;
	height:100%;
	max-width:504px;
	max-height:768px;
	color:white; 
	background-image: url("./img/wallpaper1.jpg");
    background-repeat: no-repeat;
	font-size:20px;
	text-align:center;
	display:none;
	overflow:scroll;
}



#buttonRow {
	position:absolute;
	z-index:2;
	color:white;
	border: 2px solid #313131;
	border-radius: 12px;
	background-color:#313131;
	display:block;

	bottom:10px;
	width:336px;
	height:46px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.button {
	position:relative;
	float:left;
	width:25%;
	height:100%;
}

.button img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height:70%;
}


#back {
	position:relative;
	height:100%;
	width:15%;
	float:left;
}

#back img {
	position: absolute;
	height:80%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	cursor: pointer; 
}


#map {
	width:100%;  
	height:100%;  
	z-index:1; 
	display:block; 
	position:absolute;
}
	
#message {
	width:300px; 
	z-index:8; 
	display:none; 
	background-color:#F6C760;
	color:#5C4B42; 
	padding:10px; 
	border:solid 8px;
	font-size:12px; 
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#message button{
	color:#F6C760;
	background-color:#5C4B42;
}

#closeMessageButton {
	position: absolute;
	top: 0px;
	right: 8px;
	font-size:20px; 
	cursor: pointer; 
}

#mapBox {
	position: absolute;
	z-index:7; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:white; 
	font-size:20px;
	text-align:center;
	display:none;
}

.mapButton{
	position:relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width:120px; 
	z-index:8; 
	font-size:16px;
	padding:10px; 
	border:ridge 2px;
	border-radius: 5px;
	cursor: pointer; 
}


#loginBox {
	position: absolute;
	z-index:6; 
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	color:white; 
	font-size:20px;
	text-align:center;
	display:block;
}

#loginLogo {
	width:120px;
}


.loginButton{
	position:relative;
	left: 50%;
	transform: translate(-50%, 0%);
	width:120px; 
	z-index:8; 
	font-size:0px;
	padding:0px; 
	border:ridge 2px;
	border-radius: 5px;
	cursor: pointer; 
}

#message img {
	height:50px; 
}


#help {
	width:90%; 
	height:100%; 
	z-index:10; 
	display:none; 
	position: absolute;
	font-size:24px; 
	padding-left:5%; 
	padding-right:5%; 
	background-color:#FFFFFF; 
	overflow:scroll;
}

#dimmer {
	width:100%;  
	height:100%;  
	z-index:6; 
	display:block;  
	position:absolute; 
	background-color:#000000; 
	opacity:0.6;
}

#zoomControl {
	width:36px;  
	height:72px; 
	z-index:2; 
	display:block; 
	position:absolute; 
	float:right; 
	bottom:30px; 
	right:10px; 
	overflow:hidden; 
	background-color:#FFFFFF; 
	box-shadow: 0px 0px 5px #777777; 
	border-radius: 5px;
}


.zoomButton {
	width:36px;  
	height:36px;  
	position:relative; 
	float:left; 
	text-align:center;
}

.iconImage {
	position:absolute;
	width: 24px; 
	height: 24px;
	margin:0px;
}

.iconName {
	position:absolute;
	top:0px;
	left:26px;          
	font-size:12px;
	white-space: nowrap;
	color:black;
	background-color:#ffffff;
	border-radius: 3px;
	border:solid 1px;
	padding:0px 3px 0px 3px;
}



a:link    {color:#ffffff;text-decoration:none;}  /* unvisited link */
a:visited {color:#ffffff;text-decoration:none;}  /* visited link */
a:hover   {color:#FF0000;text-decoration:none;}  /* mouse over link */
a:active  {color:#FF0000;text-decoration:none;}  /* selected link */ 

/* Jespers CSS */

#wrapperDiv{
    margin-top: 40px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
h1{color: white; font-size: 25px; margin: 0; padding: 1%;}
h2{color: white; font-size:30px; text-shadow: 2px 2px 2px black; margin-bottom: 10px;}
h3{font-size: 10px;}


#topNavbar{
    position: absolute;
    top: 0;
    margin: 0;
    background-color: #222;
    width: 100%;
    height: 40px;
}
#bottomNavbar{
    padding-top: 8px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
    background-color: #222;
    width: 100%;
    height: 40px;
}
#optionDiv{
    display: none; 
    margin: 0; 
}

#optionbutton{
    margin-top: 10px;
    margin-right: 10px;
    background-color: #222;
    float: right;
    border-width: 0;
    font-size: 20px;
    color: white;

}
#changeNameForm{
    padding: 20px;
    width: auto;
    margin-top: 145px;
    display: none;
    background-color: #222;
    text-align: center;
    color: white;
    font-size: 17px;
    box-shadow: 3px 3px 3px black;

}

/* All buttons */
#volumeButton{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}
#contactButton{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}
#logoutButton{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}
#changeNameButton{
    width: 100%;
    height: 40px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
}
#submitButton{
    background-color: forestgreen;
    color: white;
    font-size: 20px;
    border-width: medium;
    border-color: forestgreen;
    border-radius: 10px;
}
.closeButton{
    background-color: maroon;
    color: white;
    font-size: 20px;
    border-width: medium;
    border-color: maroon;
    border-radius: 10px;
}
.selectButton{
    background-color: forestgreen;
    color: white;
    font-size: 20px;
    border-width: medium;
    border-color: forestgreen;
    border-radius: 10px;
}



#showCharacterDiv{
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.imgAvatar{
    border-width: 4px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}


#UserNameDiv{
    text-align: center;
    width: auto;
    background-color: #50682b;
    height: 120px;

}


#skinButtonDiv{
    text-align: center;
    background-color: #50682b;
    margin-left: 20%;
    margin-right: 20%;
    padding: 3px;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
#skinButton{
    width: 100px;
    height: 30px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 0px;
    border-radius: 20px;
}
#weaponButton{
    width: 100px;
    height: 30px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 0px;
    border-radius: 20px;
}


#SkinsDiv{
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    padding: 20px;
    top: 5px;
    left: 20px;
    right: 20px;
    display: none;
    text-align: center;
    background-color: #32682c;
    border-width: medium;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
}
#weaponDiv{
    position: absolute;
    overflow: hidden;
    z-index: 9999;
    padding: 20px;
    top: 0px;
    left: 20px;
    right: 20px;
    display: none;
    text-align: center;
    background-color: #32682c;
}


#skin1Div{
    display: none;
    text-align: center;
    display: block;
    padding: 2%;
}

/*Buttons for the User in bottom Navbar*/
#userButton{
    width: 100px;
    height: 30px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #555;
    border-radius: 20px;
}
#gpsButton{
    width: 100px;
    height: 30px;
    background-color: #222;
    color: white;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #555;
    border-radius: 20px;
}


